$primary-color: #faa4bd;
$secondary-color: #fae3c6;
$font-stack: poppins, sans-serif;

body,
h1,
h2,
p {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family: $font-stack; line-height: 1.6;
    background-color: #eae4d5;
}

header {
    text-align: center; padding: 24px; color: #fff;
    background-color: $primary-color;
}

main {
    padding: 24px; margin-top: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

footer {
    text-align: center; padding: 8px; margin-top: 24px; color: #fff;
    background-color: $primary-color;
}

h2 {
    color: #333; margin-bottom: 8px;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none; margin: 0; padding: 0; overflow: hidden;
        background-color: $primary-color;
    }
    li {
        float: left;
        a {
            display: block; color: white; text-align: center; padding: 8px 16px;
            text-decoration: none;
            &:hover:not(.active) {
                background-color: $secondary-color;
            }
        }
    }
}

.container {
    width: 80%; margin: auto; overflow: hidden;
}

.profile-picture {
    width: 150px; height: 150px; border-radius: 50%; margin: 24px auto;
    background-color: $secondary-color;
}

.active {
    background-color: $secondary-color;
}

.desc {
    text-align: center;
}

.button {
    display: flex;
    margin: 0; border-radius: 12px; padding: 12px; overflow: hidden; border: none;
    background-color: $primary-color;
    color: white;
    transition: ease .4s;
}

button:hover {
    transform: translateY(-4px);
}

.post-list {
	list-style-type: none;
	padding: 0;
	.post-item {
		background-color: #FFFDF6;
		border: 1px solid #ddd;
		padding: 16px;
		margin-bottom: 16px;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		border-right: 4px solid $primary-color;
        border-left: 4px solid $primary-color;
        border-top: 4px solid $primary-color;
        border-bottom: 4px solid $primary-color;
		a {
			text-decoration: none;
			color: $primary-color;
			&:hover {
				text-decoration: underline;
				background-color: $secondary-color;
			}
		}
	}
}