<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!--Favicon-->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

    <!--JavaScript-->
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

    <!--Plugins-->
    {% feed_meta %}
    {% seo %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
    
</head>
<body>
     <nav>
            {% include navigation.html %}
     </nav>
    <div class="container">
        <header>
            <img src="{{ site.baseurl }}/assets/images/profiledudid4mn.jpg" alt="Profile Picture"
            class="profile-picture">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>